/*work on layour of page first*/
/*work on layout of dynamic li's once we can create elements*/
body {
  box-sizing: border-box;
  font-family: "Open Sans";
}

header {
  align-items: center;
  background: #e5f3f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  color: #6d6e71;
  font: 4em "Roboto Slab";
  margin: .4em 0;
}

.idea-title-color {
  color: #00a79d;
}

.header-input {
  font-size: 1.25em;
  width: 30em;
  margin-bottom: .5em;
  padding: .1em 0 .1em .5em;
}

.save-button {
  background: #00a79d;
  border: none;
  color: #fff;
  font-size: 1.25em;
  width: 30.6em;
  margin-bottom: 1em;
  padding: .2em;
}

section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section input {
  font-size: 1.25em;
  margin: 1em;
  padding: .1em 0 .1em .5em;
  width: 30em;
}

li {
  border-bottom: .1em solid #d1d3d4;
  width: 38em;
}

.li-header {
  display: flex;
  flex-direction: row;
  margin-bottom: .5em;
}

.li-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 1em 0;
}

h2 {
  color: #6d6e71;
  font: 2.2em "Roboto Slab";
  flex: 10;
}

li p {
  color: #939598;
  overflow-wrap: break-word;
}

li button {
  border: none;
  height: 2em;
  width: 2em;
  background-color: transparent;
  outline: none;
}

.delete-button {
  background-image: url(images/delete.svg);
  outline: none;
}

.delete-button:hover {
  background-image: url(images/delete-hover.svg);
}

.upvote-button {
  background-image: url(images/upvote.svg);
  margin-right: .5em;
  outline: none;
}

.upvote-button:hover {
  background-image: url(images/upvote-hover.svg);
}

.downvote-button {
  background-image: url(images/downvote.svg);
  margin-right: .5em;
  outline: none;
}

.downvote-button:hover {
  background-image: url(images/downvote-hover.svg);
}

.ranking {
  color: #6d6e71;
  flex: 5;
  font-family: "Roboto Slab";
  margin-left: .3em;
}

.quality-value {
  font-family: "Open Sans";
  margin-left: .3em;
}

@media (max-width: 700px) {

  h1 {
    font-size: 2.5em;
  }

  .header-input {
    width: 90%;
  }

  .description-input {
    height: 6em;
  }

  .save-button{
    width: 92.5%;
  }

  section input {
    width: 90%;
  }

  li {
    display: flex;
    flex-direction: column;
    width: 150%;
  }
}
